.user-landing {
  border: solid 2px blue;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}
.ledgers {
  min-width: 20%;
  border: solid 2px pink;
  display: flex;
  flex-flow: column nowrap;
  align-items: left;
  justify-items: left;
}
.selected {
  transform: scale(1.2);
  border: solid 2px grey
}
.ledger-card-green, .ledger-card-red {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
}

.ledger-card-green {
  background-color: #5fe174;
}

.ledger-card-red {
  background-color: #fb7e7e;
}
